/autom4te*.cache
/commands/cancel
/commands/cupsaccept
/commands/cupsdisable
/commands/cupsenable
/commands/cupsreject
/commands/lp
/commands/lpadmin
/commands/lpc
/commands/lpmove
/commands/lpoptions
/commands/lpq
/commands/lpr
/commands/lprm
/commands/lpstat
/config.h
/config.log
/config.status
/configure~
/daemon/cups-locald
/Makedefs
